h5 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h4 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

p {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body, html {
  height: 100%;
  margin: 0;
  background-image:url("https://res.cloudinary.com/practicaldev/image/fetch/s--8ZdXOOhn--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://thepracticaldev.s3.amazonaws.com/i/7sntk0gxe7mqki0s95qn.png");

  /* Full height */


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}
