<h1>{{title}}</h1>
<div class="m-nav-header lb-clearfix" data-menu-url="https://s0.awsstatic.com/en_US/nav/v3/panel-content/desktop/index.html">

  <div class="m-nav-primary-group">
    <div class="m-nav-primary-links">
      <ul>
        <li><a href="" data-panel="m-nav-panel-products">Introduction</a></li>
        <li><a href="https://angular.io/" data-panel="m-nav-panel-solutions">Angular</a></li>
        <li><a href="https://aws.amazon.com/" data-panel="m-nav-panel-pricing">AWS</a></li>
        <li><a href="" data-panel="m-nav-panel-documentation">Documentation</a></li>
        <li><a href="https://www.youtube.com/" data-panel="m-nav-panel-learn">Learn</a></li>
      </ul>
      </div>
  </div>
    </div>
<body>



</body>
