


<section class="hero is-primary">
      <ul>
        <li><a href="">Introduction</a></li>
        <li><a href="https://angular.io/" data-panel="m-nav-panel-solutions">Angular</a></li>
        <li><a href="https://aws.amazon.com/" data-panel="m-nav-panel-pricing">AWS</a></li>
        <li><a routerLink="/documentation" routerLinkActive="active">Documentation</a></li>
        <li><a href="https://www.youtube.com/" data-panel="m-nav-panel-learn">Learn</a></li>
      </ul>
</section>
<router-outlet></router-outlet>
<body>



</body>
